@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Poppins:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
@media only screen and (width<=1000px){
  #image_box{
    flex-direction: column;
    align-content: center;
  }

}

body{
  background-color: black;
  height: 100vh;
  width:98vw;
  color:white;
}
.heading{
  font-size:3rem;
  text-align: center;
  padding:1.5rem;
  font-weight: bold;
}
.input{
display: flex;
align-items:center;
justify-content: center;
}
.search{
  width:60vw;
  height:4rem;
  font-size: 1.2rem;
  border:2px solid white;
  background-color: black;
  padding:1.5rem 1rem;
  color:white;
  border-radius: 30px;
}

#image_box{
  display: flex;
  max-width: 80vw;
  height:auto;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top:3rem;
  gap:15px;
}
#img_box1,#img_box2,#img_box3{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap:10px;

}
img{
  /* transition: all ease 1s; */
  min-width:20vw;
  max-width: 25vw;
  min-height: 200px;
  max-height: 800px;
  --webkit-filter: brightness(100%);
  @media only screen and (width<=1000px){

    min-width:30vw;
  max-width: 50vw;

}

}
/* img:mouse{
  scale: 1.2;
  --webkit-filter: brightness(70%);
} */
#dwld_btn{
  position:absolute;
  top:0;
  left:0;
  background-color: gainsboro;
  width: fit-content;
  padding:5px 10px;
  display: none;
  transition: hover ease 5s;
}